//<editor-fold desc="Imports">
    <link rel="import" href="/bower_components/polymer/polymer.html">
    <link rel="import" href="/bower_components/polymer-redux/polymer-redux.html" />
    <link rel="import" href="/components/my-ui/my-ui.html" />
    <link rel="import" href="/components/my-console/my-console.html" />
    <link rel="import" href="/components/my-saga/my-saga.html" />
    <link rel="import" href="/components/my-saga/my-saga-reset.html" />
    <link rel="import" href="/components/my-saga/my-saga-update.html" />
    <link rel="import" href="/components/my-saga/my-saga-session.html" />
    //</editor-fold>

<!-- Defines element markup -->
<dom-module id="my-app">
    <template>
        <link rel="stylesheet" href="my-app.css">

        <!--/////////////////////////////////////////-->
        <!--// console-->
        <!--/////////////////////////////////////////-->

        <my-console>
            <div class="sagaConsoleInner" >

                <my-saga-session saga autoStart>

                        <my-saga-update saga></my-saga-update>

                        <my-saga-reset saga></my-saga-reset>

                </my-saga-session>

            </div>
        </my-console>


        <!--/////////////////////////////////////////-->
        <!--// UI-->
        <!--/////////////////////////////////////////-->

        <px-card id="UI" e>

            <my-ui
                    logged_in={{logged_in}}
                    messagetype={{messagetype}}
                    message={{approvalString}}
                    loading="{{loading}}"
                    count="{{count}}"
                    clicks="{{clicks}}"
                    on-plus="onPlusClick"
                    on-minus="onMinusClick"
                    on-reset_clicked="onResetClick"
                    on-logout="onLogoutClick"
                    on-login="onLoginClick"
            ></my-ui>

        </px-card>

    </template>
</dom-module>



<script src="redux/reducer.js"></script>
<script src="redux/actions.js"></script>


<!-- Registers custom element -->
<script>
    const createSagaMiddleware = ReduxSaga.default;

    const monitor = {
        effectTriggered: function(e){},
        effectResolved: function(e){},
        effectRejected: function(e){},
        registerEffectTriggered: function(cb){
            this.effectTriggered = cb;
        },
        registerEffectRejected: function(cb){
            this.effectRejected = cb;
        },
        registerEffectResolved: function(cb){
            this.effectResolved = cb;
        }
    };

    const sagaMiddleware = createSagaMiddleware({sagaMonitor: monitor});

    const effects = ReduxSaga.effects;

    let composed;
    if(window.__REDUX_DEVTOOLS_EXTENSION__) {
        composed = Redux.compose(
            Redux.applyMiddleware(sagaMiddleware),
            window.__REDUX_DEVTOOLS_EXTENSION__()
        )
    } else{
        composed = Redux.compose(
            Redux.applyMiddleware(sagaMiddleware)
        )
    }

    const store = Redux.createStore(
        reducer,
        undefined,
        composed
    );

    const ReduxBehavior = PolymerRedux(store);

    Polymer({
        is: 'my-app',
        behaviors: [ ReduxBehavior ],
        properties: {
            count: {
                type: Number,
                statePath: 'value'
            },
            clicks: {
                type: String,
                statePath: 'clicks'
            },
            loading: {
                type: Boolean,
                statePath: 'loading'
            },
            approvalString: {
                type: String,
                statePath: 'approvalString'
            },
            messagetype: {
                type: String,
                statePath: 'messagetype'
            },
            logged_in: {
                type: String,
                statePath: 'logged_in'
            }
        },
        actions: actions,
        onPlusClick: function(){
            this.dispatch('increment');
        },
        onMinusClick: function(){
            this.dispatch('decrement');
        },
        onResetClick: function(){
            this.dispatch('reset_clicked');
        },
        onLogoutClick: function(){
            this.dispatch('logout');
        },
        onLoginClick: function(){
            this.dispatch('login');
        },
        attached: function(){

            // run all sagas attributed 'autoStart'

            $(this).find('[autoStart]').each(

                function(i,sagaToBeStarted){
                    sagaMiddleware.run(sagaToBeStarted.getSaga());
                });
        }
    });

</script>
