.sagaConsole{
    width: 33%;
    float: right;
    right: 0;
    height: 88%;
    background-size: 460px;
    padding: 0;
    z-index: 100;
    transition: width .1s ease;

    overflow-y: auto;

    float: right;
    opacity: 1;
    background: none;
    position: absolute;
    clear: both;
}
.sagaConsoleInner{
    min-height: 100%;
    background-size: 460px;
    margin: 0;
    padding: 2px;
    background-color: #2b3047;
    border-left: .1px solid #5f5a3e;
}

#UI{
    width:70%;
    background-color: #072a3a
}