.px-key-value-pair-wrapper{
    margin:20px;
}
.counterButtons{
    margin:10px;
}
.counterButtons button{
    width: 130px;
    height: 30px;
    margin: 7px;
}
px-alert-label {
    zoom: 2;
}
.aboutButton {
    top: -43px;
    left: 160px;
    position: relative;
}
.clicks{
    font-size: 40px;
    color: lightslategray;
    margin-left: 10px;
}
/*.group {*/
/*display: flex;*/
/*flex-wrap: wrap;*/
/*width:150px;*/
/*}*/
/*.item {*/
/*height: 40px;*/
/*width: 40px;*/
/*background-color: #09F;*/
/*margin: 5px;*/
/*position: relative;*/
/*}*/
/*.itemTitle {*/
/*position: absolute;*/
/*left: 10px;*/
/*bottom: 10px;*/
/*color: #FFF;*/
/*}*/
/*.item:hover {*/
/*cursor: pointer;*/
/*transform: scale(1.025);*/
/*background-color: #333;*/
/*}*/

