<!-- Imports polymer -->
<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/px-key-value-pair/px-key-value-pair.html" />
<link rel="import" href="/bower_components/px-alert-message/px-alert-message.html" />
<link rel="import" href="/bower_components/px-modal/px-modal.html" />
<link rel="import" href="/bower_components/px-view-header/px-view-header.html" />
<link rel="import" href="/bower_components/polymer-redux/polymer-redux.html" />
<link rel="import" href="/bower_components/polymer-dragula/polymer-dragula.html" />

<link rel="import" href="/bower_components/px-branding-bar/px-branding-bar.html" />

<script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>

<!-- Defines element markup -->
<dom-module id="my-ui">
    <template>
        <style>
            .px-key-value-pair-wrapper{
                margin:20px;
            }
            .counterButtons{
                margin:10px;
            }
            .counterButtons button{
                width: 130px;
                height: 30px;
                margin: 7px;
            }
            px-alert-label {
                zoom: 2;
            }
            .aboutButton {
                top: -43px;
                left: 160px;
                position: relative;
            }
            .clicks{
                font-size: 40px;
                color: lightslategray;
                margin-left: 10px;
            }
            /*.group {*/
                /*display: flex;*/
                /*flex-wrap: wrap;*/
                /*width:150px;*/
            /*}*/
            /*.item {*/
                /*height: 40px;*/
                /*width: 40px;*/
                /*background-color: #09F;*/
                /*margin: 5px;*/
                /*position: relative;*/
            /*}*/
            /*.itemTitle {*/
                /*position: absolute;*/
                /*left: 10px;*/
                /*bottom: 10px;*/
                /*color: #FFF;*/
            /*}*/
            /*.item:hover {*/
                /*cursor: pointer;*/
                /*transform: scale(1.025);*/
                /*background-color: #333;*/
            /*}*/

        </style>


        <!--<div class="group">-->
            <!--<div class="item"><span class="itemTitle">Title</span></div>-->
            <!--<div class="item"><span class="itemTitle">Title</span></div>-->
            <!--<div class="item"><span class="itemTitle">Title</span></div>-->
            <!--<div class="item"><span class="itemTitle">Title</span></div>-->
            <!--<div class="item"><span class="itemTitle">Title</span></div>-->
            <!--<div class="item"><span class="itemTitle">Title</span></div>-->
            <!--<div class="item"><span class="itemTitle">Title</span></div>-->
            <!--<div class="item"><span class="itemTitle">Title</span></div>-->
            <!--<div class="item"><span class="itemTitle">Title</span></div>-->
        <!--</div>-->

        <polymer-dragula>
             <div class="counterButtons">
                <px-key-value-pair
                        key="CURRENT COUNT:"
                        value={{count}}
                        uom=""
                        size="alpha">
                </px-key-value-pair>
                <button icon="px-utl:app-settings" class="btn btn--small" disabled$="{{loading}}" on-tap="onMinusClick">-</button>
                <button icon="px-utl:app-settings" class="btn btn--small" disabled$="{{loading}}" on-tap="onPlusClick">+</button>
                <button class="btn btn--small" disabled$="{{loading}}" on-tap="onResetClick">RESET</button>
                <button hidden$={{!logged_in}} class="btn btn--small" on-tap="onLogoutClick">LOGOUT</button>
                <button hidden$={{logged_in}} class="btn btn--small" on-tap="onLoginClick">LOGIN</button>

            </div>
        <!--</div>-->
        <div style="margin-left: 10px">
            <px-alert-message
                    message={{message}}
                    type={{messagetype}}
                    hide-severity
            > </px-alert-message>
        </div>
        <div class='clicks'>
            {{clicks}}
        </div>

        </polymer-dragula>



        </div>

    </template>
</dom-module>

<!-- Registers custom element -->
<script>
    Polymer({
        is: 'my-ui',
        properties: {
            count: {
                type: Number,
                readOnly: false,
                notify: true
            },
            clicks: {
                type: String,
                readOnly: false,
                notify: true
            },
            loading: {
                type: Boolean,
                readOnly: false,
                notify: true
            },
            message: {
                type: String,
                readOnly: false,
                notify: true
            },
            messagetype: {
                type: String,
                readOnly: false,
                notify: true
            },
            logged_in: {
                type: Boolean,
                readOnly: false,
                notify: true
            }
        },


        onPlusClick: function(){
            this.dispatchEvent(new CustomEvent('plus'));
        },
        onMinusClick: function(){
            this.dispatchEvent(new CustomEvent('minus'));
        },
        onResetClick: function(){
            this.dispatchEvent(new CustomEvent('reset'));
        },
        onLogoutClick: function(){
            this.dispatchEvent(new CustomEvent('logout'));
        },
        onLoginClick: function(){
            this.dispatchEvent(new CustomEvent('login'));
        }
    });

</script>
