<!-- Imports polymer -->
<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="stylesheet" href="my-api.css">
<link rel="import" href="/components/my-component-header/my-component-header.html" />

<!-- Defines element markup -->
<dom-module id="my-api">
	<template>
		<div class="apiItem is_blink_me" style="background-color: {{bgcolor}}">
			<!--header-->
			<div class=header">

                <my-component-header
                        name="&lt;my-saga-{{name}}&gt;"
                        status-text="type:{{type}} limit:{{limit}} - {{statusText}}"
                        desc="Min Max Limiter"
                />

			</div>
		</div>
	</template>
</dom-module>

<!-- Registers custom element -->
<script>
	Polymer({
		is: 'my-api',
		properties: {
			limit: {
				type: String,
				readOnly: false,
				notify: true,
				reflectToAttribute: true
			},
			bgcolor: {
				type: Object,
				readOnly: false,
				notify: true,
				value: '#ffff82'
			},
			type: {
				type: String,
				readOnly: false,
				notify: true,
				value: 'max' //max|min
			}
		},
		approveCounterChange: function(newValue){
			var that = this;

			return Q.Promise(function(resolve, reject){
				setTimeout(function(){
					if (that.type == "max" && newValue <= that.limit || that.type == "min" && newValue >= that.limit){
						that.bgcolor = 'green';
						that.statusText = newValue + ' - APPROVED: ' + Date();
						resolve (newValue + ' - APPROVED: ' + Date());

						$(that).find('.is_blink_me').removeClass('blink_me')
					} else{
						$(that).find('.is_blink_me').addClass('blink_me')
						that.bgcolor = 'red !important';

						const err = newValue + ' - REJECTED - ' +  (that.type == 'max' ? 'BIGGER' : 'SMALLER') + ' THEN ' + that.limit + ' : ' + Date();
						that.statusText = err;
						reject(err);
					}

				}, 300);
			});
		}
	});

</script>
