<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/components/my-api/my-api.html" />

<dom-module id="my-saga-update">
    <template>
        <my-saga id="update"
                 name="update"
                 desc="Update counter on plus/minus clicks">

            <my-api id="api" limit="0" type="min"></my-api>
            <my-api id="api2" limit="3" type="max"></my-api>

            <content></content>

        </my-saga>
    </template>
</dom-module>

<!-- Registers custom element -->
<script>
    Polymer({
        is: 'my-saga-update',

        getSaga: function(taskPromise){
            let that = this;
            const saga = $(this).find('my-saga')[0];

            taskPromise.then(
                function(task){
                    saga.updateStatusOnTaskDone(task);
                }
            );

            function* incOrDec(ACTION_TYPE) { // 'INCREMENT' or 'DECREMENT'
                try {
                    saga.setStatus("Handling action: " + ACTION_TYPE, 'yellow');

                    // get current counter value from store
                    const currentCounterValue = yield ReduxSaga.effects.select()

                    // dispatch action 'LOAD_START'
                    yield ReduxSaga.effects.put({type: 'LOAD_START'})


                    ////////////////////////////////////////
                    //
                    //  OPTIMISTIC
                    //
                    ////////////////////////////////////////

                    // update value
                    yield ReduxSaga.effects.put({type: ACTION_TYPE})

                    const newValue = ('INCREMENT' == ACTION_TYPE) ? currentCounterValue.value + 1 : currentCounterValue.value -1

                    // get approval string from API
                    var approvalString = yield ReduxSaga.effects.call(
                        that.$.api.approveCounterChange.bind(that.$.api),
                        newValue
                    );

                    // get approval string from API2
                    approvalString = yield ReduxSaga.effects.call(
                        that.$.api2.approveCounterChange.bind(that.$.api2),
                        newValue
                    );

                    // load finished
                    yield ReduxSaga.effects.put({type: 'LOAD_FINISHED', approvalString: approvalString})

                    saga.setStatus("Succeeded action: " + ACTION_TYPE, 'green');

                    // relax
                    yield ReduxSaga.effects.put({type: 'SET_MESSAGE_TYPE', messagetype: 'healthy'})
                } catch(e){

                    ////////////////////////////////////////
                    //
                    //  ROLLBACK
                    //
                    ////////////////////////////////////////

                    // rollback
                    yield ReduxSaga.effects.put({type: 'ROLLBACK'})

                    // alert
                    yield ReduxSaga.effects.put({type: 'SET_MESSAGE_TYPE', messagetype: 'important'})
                    yield ReduxSaga.effects.put({type: 'LOAD_FINISHED', approvalString: e})

                    saga.setStatus("Failed action: " + ACTION_TYPE, 'red');

                }
            }

            return function* counterSaga() {
                saga.setStatus("Waiting for 'INCREMENT' or 'DECREMENT' actions", 'yellow');

                yield ReduxSaga.effects.takeEvery('INCREMENT_INIT', incOrDec, 'INCREMENT')
                yield ReduxSaga.effects.takeEvery('DECREMENT_INIT', incOrDec, 'DECREMENT')
            }
        }
    });

</script>
