<!-- Imports polymer -->
<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/components/my-api/my-api.html" />

<!-- Defines element markup -->
<dom-module id="my-saga-reset">
    <template>

        <my-saga id="reset"
                 name="reset"
                 desc="Reset counter after 3 reset clicks">
            <content></content>
        </my-saga>


    </template>
</dom-module>

<!-- Registers custom element -->
<script>
    Polymer({
        is: 'my-saga-reset',

        getSaga: function(taskPromise) {
            const saga = $(this).find('my-saga')[0];

            taskPromise.then(
                function(task){
                    // my parent behaviour with my own task
                    // todo: inherited behavior? mixin?
                    saga.updateStatusOnTaskDone(task);

                    // my private behaviour
                    task.done.then(
                            function(){
//                                alert('SAGA RESET EXITS');
                            }
                    );
                }
           );

            return function* resetSaga() {
                saga.setStatus("Count reset clicks: 0" , 'yellow');

                while (true) {
                    //wait for reset click
                    yield ReduxSaga.effects.take('RESET_CLICKED')

                    saga.setStatus("Count reset clicks: 1" , 'yellow');
                    console.log(2);

                    //wait for minus click
                    yield ReduxSaga.effects.take('RESET_CLICKED')
                    saga.setStatus("Count reset clicks: 2" , 'yellow');

                    //wait for minus click
                    yield ReduxSaga.effects.take('RESET_CLICKED')
                    yield ReduxSaga.effects.put({type: 'RESET'})

                    //green
                    saga.setStatus("RESET" , 'green');

                    //wait 1 sec
                    setTimeout(function () {
                        //yellow
                        saga.setStatus("Count reset clicks: 0" , 'yellow');
                    }, 1000);
                }
            }
        }
    });

</script>

